/* App.module.css */

.border {
  border: solid black 2px;
  margin: 5px;
  display: flex;
}


.title {
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.5px black;
  background-color: blueviolet;
  border: solid black 2px;
  border-radius: 0.5rem;
  margin: 0.3%;
  padding: 0.1%;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2%;
  margin: 1%;

}