
.ExistingPlaylistContainer {
    background-color: lightgray;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

.ExistingPlaylistTracks {
    margin: 0.5%;
    padding: 0.5%;
    background-color: aqua;
    border-radius: 5px;
}