.color{
    background-color: red;
    border-radius: 5px;
    min-height: 100px; 
    min-width: 300px;  
}

.itemListTracks {

    margin: 2%;
    padding: 1%;
    background-color: lightcyan;
    border-radius: 5px;
}