.color{
    background-color: red;
    border-radius: 5px;
    min-height: 100px; /* Set minimum height */
    min-width: 300px;  /* Set minimum width */
}

.itemListTracks {

    margin: 2%;
    padding: 1%;
    background-color: lightcyan;
    border-radius: 5px;
}